.orgsection{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title{
    color: #6278F7;
    font-weight: 400;
    font-size: 40px;
    text-align: center;
    font-family: 'Prata', sans-serif;
    padding-bottom: 24px;
    border-bottom:  4px solid #6278F7;
}

.orgsection img {
    position: absolute;
    right: 30px;
    cursor: pointer;
}